<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}Eaten!{{else}}Eat!{{/if}}
	</button>
	<button class="delete-cat" data-id="{{this.id}}">DELETE</button>
</li>
